<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About page</title>
</head>
<body>
    <h1>About page</h1>
    <h2>Name:<%- data.id %></h2>
    <h2>firstname:<%- data.firstname %></h2>
    <h2>lastname:<%- data.lastname %></h2>
    <h2>email:<%- data.email %></h2>
    <h2>registert date:<%- data.reg_date %></h2>
    <a href="/">goto index</a>
</body>
</html>